@model IEnumerable<MyMediaCatalog.Domain.PersonPhone>
           
<ul class="list-group">
    @if (!Model.Any())
    {
        <li class="list-group-item">
            No Phone Numbers
        </li>
    }
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div>
                @Html.DisplayName(item.PhoneType.Name)
            </div>
            <div>
                @item.Phone.Number
                <span class="pull-right">
                    @Ajax.ActionLink(" ", "DeletePhone", "People", new { item.Id }, new AjaxOptions()
                    {
                        UpdateTargetId = "phoneListView"
                    }, htmlAttributes: new { @class = "glyphicon glyphicon-remove" })
                </span>
            </div>

        </li>
    }
</ul>

